 @charset "UTF-8";
 * {
     margin: 0px;
     padding: 0px;
 }
 
 html,
 body {
     min-height: 100vh;
     background-color: darkgray;
 }
 
 header {
     background-color: black;
     color: white;
     text-align: center;
     font-size: 10vh;
 }
 
 header>h1 {
     padding-top: 50px;
     font-variant: small-caps;
 }
 
 header>p {
     padding-bottom: 50px;
 }
 
 a {
     color: white;
     text-decoration: none;
     font-weight: bolder;
 }
 
 section {
     padding-top: 10vh;
     padding-bottom: 10vh;
     line-height: 2em;
     padding-left: 30px;
     font-size: 5vh;
 }
 
 section#img1 {
     background-image: url(imagens/borbolete.jpg);
     background-position: right center;
     text-shadow: 1px 1px 0px;
     background-size: cover;
     background-attachment: fixed;
 }
 
 section#img2 {
     background-image: url(imagens/tijolo.jpg);
     background-position: right center;
     text-shadow: 1px 1px 0px;
     background-size: cover;
     background-attachment: fixed;
 }
 
 section.normal {
     background-color: white;
     color: black;
 }
 
 section.imagen {
     background-color: purple;
     color: red;
 }
 
 section.imagen {
     width: 400px;
     background-color: rgba(80, 63, 63, 0.665);
 }
 
 header a:hover,
 footer a:hover {
     text-decoration: underline;
 }
 
 footer {
     background-color: black;
     color: white;
     text-align: center;
     padding: 10px;
 }