@charset "utf-8";
{
    font-family: arial;
}

body {
    background-image: linear-gradient(to right, #f1d8c9, #F2C3A7);
}

main {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(129, 77, 5, 0.726);
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}